#===============================================================================
# Mint Example - Elasticsearch Service File
#===============================================================================
# This unit spins up a CoreOS service.

[Unit]
Description=Spin Up Elasticsearch
# List any services that must be online before or wait untl after this service is activated.
Before=kibana.service mint.service
After=docker.service

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/echo "========================"
ExecStartPre=/usr/bin/echo "  New Service Starting"
ExecStartPre=/usr/bin/echo "========================"

# Display this service's IP addresses.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/echo "Public IP Address: ${COREOS_PUBLIC_IPV4}"
ExecStartPre=/usr/bin/echo "Private IP Address: ${COREOS_PRIVATE_IPV4}"

# Register this service with DNS.
ExecStartPre=/usr/bin/echo "Registering Service with DNS.  This will take a moment..."
ExecStartPre=/usr/bin/curl -XPOST kick.flavor.cluster:2000 -d '\
"hostname": "mint-es.flavor.cluster",      \
"ip_address": "${COREOS_PRIVATE_IPV4}",  \
"port": "2020",  \
"type": "A"'

# Delete any old containers with this image.
ExecStartPre=-/usr/bin/docker kill mint-es
ExecStartPre=-/usr/bin/docker rm mint-es

# Pull The Service's Docker Container.
ExecStartPre=/usr/bin/echo "Pulling Docker image from public repo."
ExecStartPre=/usr/bin/docker pull pandastrike/pc_elasticsearch

# Launch the container.
ExecStart=/usr/bin/docker run --name mint-es -p 2020:9200 \
  pandastrike/pc_elasticsearch /bin/bash -c \
  'cd elasticsearch-1.4.2/bin && ./elasticsearch'

# Create an index for us to play with
ExecStartPost=/usr/bin/curl -XPOST localhost:2020/demo

[Install]
WantedBy=multi-user.target
